body {
  font-family: 'Roboto', sans-serif;
  background-color: #edf6f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 600px; 
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio {
  text-align: center;
}

img {
  max-width: 100%; /* Ensure image fits within its container */
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  font-family: 'Pacifico', cursive;
  color: #6fa9e2;
  margin-top: 0;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  color: #6c5ce7;
  margin-bottom: 30px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}